<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Cyber Cafe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Cyber Cafe Website" />
    <!-- <link rel="icon" href="https://glitch.com/favicon.ico" /> -->

    <!-- css -->
    <!-- <link rel="stylesheet" href="/styles/standard.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- javascript -->
    <script src="/scripts/index.js" defer></script>
  </head>

  <body>
      <!-- container -->
      <div class = "container">

        <div class = "header">
          <!-- header -->
          <img src="/images/header.jpg" id="header-img" alt="display of bakery items"/>
          <!-- nav bar -->
          <div class = "navigation">
            <a href="/views/index.html">home</a>
            <a href="#news">menu</a>
            <a href="#contact">pictures</a>
            <a href="#about">catering</a>
            <a href="#about">events</a>
            <a href="#about">about</a>
          </div>
        </div>

        <!-- welcome and events -->
        <div class = "welcome-events">
          <!-- welcome -->
          <div class = "welcome">
            <h1>Welcome to the Cyber Cafe!</h1>
            <p>I'll add text here latee</p>
          </div>
          <!-- events -->
          <div class = "events">
            <div id="small-event">
              <h2>Event Name</h2>
              <p>Event Date</p>
            </div>
          </div>
        </div>

        <!-- specials and announcements -->
        <div class = "specials-announcements">
          <!-- specials -->
          <div class = "specials">
            <img src="/images/special.jpg" id="special-img" alt="apple cider donuts">
            <div>
              <h2>Seasonal Special</h2>
              <p>laterrr</p>
            </div>
          </div>
          <!-- announcements -->
          <div class = "announcements">
            <img src="/images/annoucement.jpg" id="announcement-img" alt="thanksgiving dinner">
            <div>
              <h2>Announcements</h2>
              <p>also laterrr</p>
            </div>
          </div>
        </div>

      </div>
  </body>