
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital@0;1&display=swap');

/* set css variables */
:root {
    --background: #333333;
    --header-color: #8CFF94;
    --paragraph-color: #BCBCBC;
    --header-1: 30px;
    --header-2: 20px;
    --paragraph: 15px;
    --header-font: 'Courier Prime', monospace;
    --paragraph-font: 'Roboto Mono', monospace;
  }

  body {
    margin: 0;
    background-color: var(--background);
  }

  h1 {
    font-family: var(--header-font);
    font-size: var(--header-1);
    color: var(--header-color);
  }

  h2 {
    font-family: var(--header-font);
    font-size: var(--header-2);
    color: var(--header-color);
  }

  p {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph);
    color: var(--paragraph-color);
  }

  #navigation {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--header-font);
  }

  a {
    float: left;
    color: var(--paragraph-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
  }

  a:hover {
    color: var(--header-color);
    font-weight: 700;
    font-style: italic;
  }

  a:active {
    color: var(--header-color);
    font-weight: 700;
    font-style: italic;
  }
  
/* welcome and events */
.welcome-events {
    display: flex;
    align-items: self-end;
    padding: 10px 30px;
    margin-bottom: 30px;
}

.welcome {
    margin-right: 60px;
}

.small-event {
    background-color: #FFA2A2;
    width: 350px;
    height: 75px;
    color: #333333;
    padding: 5px;
}

.small-event > h2 {
    margin: 10px;
}

.small-event > p {
    margin: 0;
    padding-left: 20px;
}

.specials-announcements {
    display: flex;
    justify-content: space-around;
}

.specials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.announcements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specials > p,
.announcements > p {
    margin: 0;
}